@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Joti+One&family=Martian+Mono:wght@800&family=Orbitron:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #163532;
  color: #f9fafa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}
p {
  font-family: "Inknut Antiqua", serif;
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

/*Header
/*****************************************************************************/

.heroVideo {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left center;
}

#hero {
  position: relative;
  overflow: hidden;
  height: 50rem;
  margin: auto;
}

.navbar {
  background-color: #333;
  padding: 0.93rem;
  text-align: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.93rem;
  display: inline-block;
}

.nav-links a:hover {
  background-color: #435b5a;
  color: #f9fafa;
  cursor: pointer;
}

.menu-icon {
  display: none;
  cursor: pointer;
}
.topnav a {
  display: block;
  background-color: transparent;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.125rem;
  overflow: hidden;
  background-color: transparent;
  padding-top: 5rem;
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.topnav {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  background-color: transparent;
  margin: 1rem;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  position: relative;
}

.nav-links a:hover {
  background-color: #435b5a;
}

.topnav a.split1,
.topnav a.split2 {
  color: white;
  border: solid 1px;
  border-radius: 1rem;
  padding: 1rem 3rem;
  text-shadow: 1px 1px 2px black;
}
.topnav a.split3 {
  background-color: #435b5a;
  color: white;
  border-radius: 1rem;
  padding: 1rem 3rem;
  border: solid 1px;
  
}

.custom-font {
  font-size: 3.75rem;
  background-color: transparent;
  border: none;
  vertical-align: middle;
  font-family: "Joti One", sans-serif;
}

/*Main
/*****************************************************************************/

main {
  display: flex;
  flex-direction: column;
}
#slogan {
  display: flex;
  justify-content: center;
  margin: 6.25rem;
  text-shadow: 0 0.375em 0.375em rgba(0, 0, 0, 0.25);
}


.aboutUsImg1,
.aboutUsImg2,
.aboutUsImg3 {
  width: 45rem;
  height: 35.5rem;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 0.625em;
}

.aboutUsImg1,
.aboutUsImg3 {
    border-radius: 10px 0 0 10px;
}
.aboutUsImg2 {
    border-radius: 0 10px 10px 0;
}

.aboutUsText {
  color: #f9fafa;
  text-align: center;
  text-shadow: 0 0.375em 0.375em rgba(0, 0, 0, 0.25);
  font-family: Inknut Antiqua;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#content1,
#content2,
#content3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.125rem;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.25);
}

.aboutUs {
  padding: 3.125rem;
}

/*Menu
/*****************************************************************************/

#menu {
  margin-top: 100px;
}

#winterMenu {
  display: flex;
  justify-content: center;
  margin: 6rem;
}

#menus {
  border: 4px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1.25rem;
  height: 12.5rem;
}

.winter-menu h1 {
  font-size: 3.1rem;
  margin-bottom: 9rem;
}

.menu-description h3 {
  margin-bottom: 5.5rem;
}
.menu-description {
  text-align: center;
}

.menu-description h2 {
  margin-bottom: 1.8rem;
}
.menu-description h1 {
  font-size: 3em;
  margin-bottom: 1.8rem;
}
.menu-container h2 {
  font-family: "Roboto Slab", serif;
  font-size: 1.5em;
  margin-bottom: 1.8rem;
}

.menu-container h3 {
  font-family: "Roboto Slab", serif;
  font-size: 1em;
  margin-bottom: 1.8rem;
}
.menu-container div {
  margin-bottom: 3rem;
}
.container-menu {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu-description {
  text-align: center;
  margin-bottom: 2rem;
  flex: 1;
}

.menu-container {
  flex: 1;
  padding: 1.25rem;
  margin: 0.6rem;
  background-color: transparent;
}

.container-menu::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 88rem; /* Adjust the height of the line as needed */
  background-color: #1c2020; /* Black line */
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  width: 100%;
}

.name {
  font-size: 1.5rem;
}
/*Our Team Members
/*****************************************************************************/

#ourTeamSection {
  margin: 3.1rem 0;
}

#ourTeam {
  display: flex;
  justify-content: center;
  margin: 3.1rem;
}

#chefs {
  border: 1px solid;
  display: flex;
  width: 100%;
  padding: 1.6rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 2.85rem;
}

.chef {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.chefImg {
  /* width: 22.5rem;
  height: 23rem; */
  height: auto;
  width: 100%;
}

.firstname,
.lastname {
  color: #f9fafa;
  font-family: Jockey One;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.role {
  color: #f9fafa;
  font-family: Jockey One;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*Booking
/*****************************************************************************/

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 6.25rem;
  margin-left: 0;
}
.container h2 {
  display: flex;
  justify-content: center;
  margin: 1.25rem;
}

.container p,
.container h2,
.container h4,
.container label,
.container input,
.container button {
  background-color: #435b5a;
}
#bookATable {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  width: 80%;
  background-color: #435b5a;
  border-radius: 1.5rem;
  padding: 1.87rem;
}
.form {
  display: flex;
  width: 43%;
  padding: 0px 3.1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.37rem;
  background-color: #435b5a;
}

.contact {
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: #435b5a;
  display: flex;
  padding-bottom: 1rem;
  justify-content: start;
  gap: 2.37rem;
}
.form form {
  background-color: #435b5a;
  border: 1px solid #163532;
  display: flex;
  width: 28.75em;
  height: 34em;
  padding: 1.875em 0;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}
.infobox {
  gap: 0.62rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #435b5a;
  padding: 1.875rem 0;
}
.peopleDate {
  background-color: transparent;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 2.5rem;
}

.peopleBox {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: 1.25rem;
}
.dateBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  gap: 1.25rem;
}
form label,
form option,
form input,
form button {
  font-family: "Roboto Slab", serif;
  text-shadow: 0px 0.375rem 0.375rem rgba(0, 0, 0, 0.25);
}

#time-slots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: transparent;
}

.time-slot {
  background-color: transparent;
  width: 5.6rem;
  height: 3.1rem;
  border-radius: 0.3rem;
  font-family: "Roboto Slab", serif;
  text-shadow: 0px 0.375rem 0.375rem rgba(0, 0, 0, 0.25);
}

.time-slot.active {
  background-color: #163532;
}

#formButton {
  width: 11.25rem;
  height: 3.1rem;
  border-radius: 0.3rem;
}

select#people {
  background-color: #435b5a;
  padding: 0.625rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
}

select#people:focus {
  border-color: #ffffff;
  outline: none;
}

iframe {
  width: 25rem;
  height: 15rem;
}

/*Footer
/*****************************************************************************/

footer {
  display: flex;
  width: 100vw;
  height: 29rem;
  padding: 1rem 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  margin-top: 6rem;
  border: none;
  background-color: #435b5a;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  background-color: #435b5a;
}

.socials li {
  margin: 0 0.6rem;
  background-color: #435b5a;
}

.socials a {
  padding: 0.6rem;
  text-decoration: none;
  color: #f1f0ec;
  background-color: #435b5a;
}

.socials a i {
  font-size: 1.5rem;
  transition: color 0.4s ease;
  background-color: #435b5a;
}

.footer-bottom p {
  font-size: 1rem;
  word-spacing: 0.2rem;
  text-transform: capitalize;
  padding-top: 3rem;
  color: #d6d6d4;
  background-color: #435b5a;
}

.address p {
  background-color: #435b5a;
}
.address1 p {
  background-color: #435b5a;
}


/*MEDIA 1024
/*****************************************************************************/
@media (max-width: 1024px) {
  #hero {
    position: relative;
    overflow: hidden;
    margin: auto;
  }

  .heroVideo {
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: left center;
  }

.aboutUsImg1,
.aboutUsImg2,
.aboutUsImg3 {
    width: 32rem;
    height: 23rem;

  }
  .chefImg {
      height: auto;
      width: 100%;
      }
      
      #bookATable {
        justify-content: space-evenly;
        width: 90%;
        padding: 1rem;
      }

      .form form {
        width: 25.75em;
      }

      .contact {
        flex-direction: column;
        align-items: center;
        width: 40%;
      }

      iframe {
        width: 20rem;
        height: 15rem;
      }

  footer {
    width: 100vw;
  }
}


/*MEDIA 375
/*****************************************************************************/
@media (max-width: 376px) {
  #content1,
  #content2,
  #content3 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .aboutUs,
  .aboutUsImg {
    width: 100%;
  }

  #content1 .aboutUs {
    order: 2;
  }
    .aboutUsImg1{
    order: 1;
    width: 100%;
    border-radius: 0;
  }

  #content2 .aboutUs,
  #content3 .aboutUs {
    width: 100%;
    order: 1;

  }
.aboutUsImg2,
.aboutUsImg3 {
    width: 100%;    
    border-radius: 0;
  }

  /* Menu Container Styling */
  .container-menu {
    display: block;
  }

  .container-menu::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 0;
    background-color: #1c2020;
    transform: translate(-50%, -50%);
  }

  /* Our Team Section Styling */
  #ourTeamSection {
    display: block;
  }

  #ourTeamSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #chefs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .chef {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chefImg {
    width: 360px;
    height: 370px;
  }

  .firstname,
  .lastname,
  .role {
    color: #f9fafa;
    font-family: Jockey One;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  /* Navigation Links Styling */
  .nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 12%;
    margin-left: 200px;height: 100vh;
    opacity: 1;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;

  }

  .nav-links.show {
    display: flex;
    transform: translateY(0);
    
  }

  .nav-links a {
    margin: -10px 0;
    padding: 0.3em; 
    text-decoration: none; */
    color: white;
    
  }
  .topnav a.split1,
  .topnav a.split2,
  .topnav a.split3 {
    border: none; 
    background-color: transparent;
  }
  .nav-links a:hover {
  background-color: #160D08;
}

  /* Hamburger Menu Styling */
  .menu-icon {
    display: block;
    margin-right: 30px;
    background-color: transparent;
  }

  .menu-icon div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

  .menu-icon.active div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-icon.active div:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.active div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /* Hero Section Styling */
  .heroVideo {
    display: none;
  }

  #hero {
    background-image: url("./images/food1.avif");
    background-size: cover;
    background-position: left center;
  }
  .container {
    flex-direction: column;
    width: 100%;
    align-self: center;
    margin-top: 2.25rem;
  }
  .container h2 {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
  }

  #bookATable {
    align-self: center;
    flex-direction: column;
    width: 100%;
  }
  .form {
    width: 100%;
    padding: 0;
    gap: 1rem;
  }

  .contact {
    width: 100%;
    padding: 1rem 0;
    gap: 1rem;
  }
  .form form {
    height: fit-content;
    width: 100%;
    gap: 1rem;
  }
  .infobox {
    padding: 1rem 0 0 0;
  }
  .peopleDate {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .peopleBox {
    gap: 1rem;
  }
  .dateBox {
    gap: 1rem;
  }
  #time-slots {
    grid-template-columns: 1fr 1fr;
  }
  iframe {
    width: 100%;
    height: auto;
  }
}