@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #163532;
    color: #F9FAFA;
}
h1 {
    font-family: 'Roboto Slab', serif;
}
p {
    font-family: 'Inknut Antiqua', serif;
}

body {
    height: 7300px;
}



















#slogan {
    display: flex;
    justify-content: center;
    margin: 100px;
}


.aboutUsImg {
    width: 720px;
    height: 568px;
}
#content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 50px;
}
#content2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 50px;
}
#content3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 50px;
}

.aboutUs {
    padding: 50px;
}



#winterMenu {
    display: flex;
    justify-content: center;
    margin: 100px;
}

#menus {
    border: 4px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    height: 200px;
}







#ourTeam {
    display: flex;
    justify-content: center;
    margin: 100px;
}

#chefs{
    display: flex;
    justify-content: space-around;
}

.chef img {
    width: 360px;
    height: 370px;
}